body {
    font-size: 90%;
    font-family: "Lantinghei SC", "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
    > article {
        max-width: 600px;
        margin: 0 auto;
        > section {
            text-align: justify;
            text-justify: distribute;
            pre {
                background: #272822;
                font-family: inherit;
                code {
                    font-family: inherit;
                }
            }
        }
        > footer {
            border-top: 1px solid #dddddd;
            font-size: 80%;
        }
    }
}