body {
  font-size: 90%;
  font-family: "Lantinghei SC", "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
}
body > article {
  max-width: 600px;
  margin: 0 auto;
}
body > article > section {
  text-align: justify;
  text-justify: distribute;
}
body > article > section pre {
  background: #272822;
  font-family: inherit;
}
body > article > section pre code {
  font-family: inherit;
}
body > article > footer {
  border-top: 1px solid #ddd;
  font-size: 80%;
}
